<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyConnectionString" connectionString="Data Source=.\TBin; Trusted_Connection=Yes; Initial Catalog=MyShop; TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>