<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyConnectionString" connectionString="Data Source=localhost; Trusted_Connection=Yes; Initial Catalog=MyShop;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="entropy" value=""/>
		<add key="password" value=""/>
		<add key="username" value=""/>
		<add key="server" value=""/>
		<add key="database" value=""/>
	</appSettings>
</configuration>